.App-header{
  margin: 30px 0;
  max-width: 1000px;
  box-shadow: 20px;
  background-color: rgba(255, 255, 255, 0.449);
  text-align: center;
}

.logo{
  size: 24px;
 max-width:200px;
 display: block;
 margin: 0 auto;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
      opacity: 0.5;
}
.logo:hover{

  opacity: 0.8;

}


.app-footer{
text-align: center;
margin: 30px 0;
}

.container{
text-align: center;
}