.App {
  max-width: 900px;
  margin: 30px auto;
    display: block;
    border-radius: 36px;
box-shadow:0 30px 50px rgba(114, 114, 114, 0.441); 
padding: 32px;
}


.App-header{
  margin: 30px 0;
  max-width: 900px;
  box-shadow: 20px;
  text-align: center;
}

.logo{
  size: 16px;
 max-width:100px;
 display: block;
 margin: 0 auto;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
      opacity: 0.5;
}
.logo:hover{
  opacity: 0.8;
}


.app-footer{

 font-size: 16px;
  margin: 8px 0;
  font-weight: 400;
  text-align: center;
  padding: 4px 0px;
backdrop-filter: blur(5px);
background: transparent;
}

h1{
  color: rgb(0, 0, 0);
}

.container{
text-align: center;

opacity: 0.6;
}


@media (max-width: 800px) {
  .App {
  font-size: 12px;
  }
 .input {
  display: block;
  font-size: 11px;
}

}